{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block navbar %}
{% include 'components/_navbar.html' %}
{% endblock navbar %}

{% block main %}
{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="d-flex justify-content-between container">
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Kirish</button>
    </form>
</div>

{% endblock main %}
